<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Genre</title>
  </head>
  <body>
    <label><h1>Edit Genre Page</h1></label>
    <%= form_for @genre do |f| %>
    <h3><%= f.label :name, "Genre Name" %></h3>
    <%= f.text_field :name %>
    <%= f.submit "Update Genre" %>
    <% end %>
  </body>
</html>
